<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Vibes Duel</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="font-size: 35pt" href="/">Rankings</a>
                    <a class="navbar-brand" style="font-size: 35pt" href="/duel">Duel</a>
                    <a class="navbar-brand" style="font-size: 35pt" href="/vibes">Vibes</a>
                </div>
            </div>
        </nav>

        <div class="container">
        <div class="row">
            <form action="vibes" method="POST" align="center">
                <input type="submit" style="font-size: 15pt" name = "one" value="{{ goons[0].name }} has better vibes than {{ goons[1].name }}">
                <input type="submit" style="font-size: 15pt" name = "two" value="{{ goons[1].name }} has better vibes than {{ goons[0].name }}">
                <input type="submit" style="font-size: 15pt" name = "skip" value="Skip">
                <input type='hidden' name="code" value="{{ key.code }}" visible="false">
            </form>
        </div>
        </div><!-- /.container -->
    </body>
</html>